---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Charlotte Dachshund meet ups</h1>

<p><a href="/about/">Find the next meetup</a></p>
<img alt="long haired dachshund" src="/images/neville.jpg" />