@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Bogle&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


body {
    font-family: "Bricolage Grotesque", sans-serif;
    color: #333333;
    background: #e3e3e3;
    padding: 0;
    text-align: center;
    justify-content: center;
}

nav {
    margin: 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #ededed;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #585858;
    text-decoration: none;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.2em;
}

h1 {
    font-family: "BBH Bartle", sans-serif;
    font-size: 4em;
}

h2 {
    font-family: "BBH Bogle", sans-serif;
}

img {
    width: 70%;
}


a {
    color: #010101;
}